//
// This file contains all color definitions throughout the project.
//

// Greyscale - ordered from white to black
$color-white: #fff;
$color-oslo-gray: #868889;
$color-black: #000;

// Colors - all other colors used in the project, can be grouped by general
// color (i.e. green, red, blue, yellow, ...).
$color-stratos: #02033c;
$color-buttercup: #f7ae1c;
$color-mercury: #e8e8e8;
$color-cape-cod: #393d3f;
$color-woodsmoke: #0d0d0e;

body {
    background-color: $color-black;
}
